:root {
    --main-color: #FFFFFF;
    --second-color: #eff2f6;
    --accent-color: #486284;

    --text-color: #8ca2c0; 
    --title-color: #486284;
    --h1-color: #486284; 

    font-size: 10px;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1  {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
    color: var(--text-color);
}

h2 {
    font-size: 3.2rem;
    color: var(--title-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 17px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    border-bottom: solid 1px  var(--second-color);
    color: var(--h1-color);
}

header a,
header .icon {
    color: var(--accent-color);
    font-size: 2rem;
}

header a:hover {
    color: var(--text-color);
}

header .container {
    display: flex;
    gap: 7.11px;
    align-items: center;
}

footer {
    padding: 1.7% 2.4%;
    font-size: 1.8rem;
    text-transform: capitalize;
    border-top: solid 1px  var(--second-color);
    margin-top: 3.2%;
}

footer h2 {
    font-size: 1.8rem;
}

.article-container {
    display: flex;
    flex-direction: column;
    margin: 32px 24px;
    max-width: 600px;
}

.article-container img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border-bottom: solid 1px  var(--second-color);
    background-color: var(--second-color);
}

.text-container {
    margin-top: 31px;
}

.text-container .date {
    margin-bottom: 8px;
}

.text-container h2 {
    margin-bottom: 16px;
}

.text-container .summary {
    margin-bottom: 24px;
}

.text-container .btn {
    background-color: var(--accent-color);
    padding: 12px;
    display: flex;
    justify-content: center;
    border-radius: 50em;
    margin-bottom: 24px;
}

.text-container a {
    color: var(--main-color);
    font-size: 1.6rem;
    text-decoration: none;
}

.text-container .btn:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 6rem;
    }

    p {
        font-size: 2rem;
    }

    p.summary {
        margin-bottom: 24em;
    }
    
    header {
        padding: 1.7% 9.8%;
    }

    header .icon{
        font-size: 4rem;
    }

    main {
        align-items: stretch;
        padding: 0 12.2rem;
    }


    .article-container {
        flex-direction: row;
        align-items: center;
        height: 80vh;
        min-width: fit-content;
    }

    .article-container .text-container{
        max-width: 50%;
    }

    .article-container .h2 {
        font-size: 6rem;
    }

    .article-container .btn a {
        font-size: 1.6rem;
    }

    .article-container .btn {
        max-width: fit-content;
        padding: 2em 4em;
    }

    .article-container .img-container {
        width: 50%;
        height: 90%;
        margin-right: 40px;
    }

    footer h2 {
        font-size: 2rem;
    }
}